div#admin_requests_container{
	display: flex;
	width: 100%;
	height: 60%;
	margin-top: 15px;
}

select#admin_registration_requests_select{
	margin-left: 15px;
	width: 50%;
	height: 100%;
}

div#admin_registration_request_info{
	padding-top: 0;
	margin-left: 10px;
	
	width: 50%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}
div#admin_registration_request_info input{
	width: 15rem;
}

div#admin_request_buttons{
	height: 40%;
	width: 100%;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

button#allow_registration_btn{
	background-color: blue;
}

button#reject_administration_btn{
	background-color: red;
}

.registration_requests_buttons{
	border: none;
	color: white;
	cursor: pointer;
	height: 4rem;
	width: 7rem;
	border-radius: 10px;
}

.registration_requests_buttons:hover{
	opacity: 0.5;
}
.registration_requests_buttons:active{
	opacity: 0.5;
}

@media screen and (max-width: 860px){
	div#select_container{
		width: 80%;
	}
	select#admin_registration_requests_select{
		margin-left: 0;
		width: 100%;
	}
	
	div#admin_requests_container{
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	
	div#admin_registration_request_info{
		width: 90%;
		justify-content: center;
		align-items: center;
	}
	
	.registration_requests_buttons{
		height: 3rem;
		width: 5rem;
	}
}