div#supervisor_library_overview_container{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	overflow: auto;
	overflow-x: hidden;
}

select#admin_list_of_libraries{
	width: 100%;
	height: 15rem;
	text-align: center;
	text-align-last: center;
}

form#library_overview_form{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: auto;
}
form#library_overview_form input{
	width: 15rem;
}

div#admin_image_and_info{
	width: 100%;
	/*height: 25rem;*/
	display: flex;
	margin-bottom: 5px;
}

div#thumbnail_and_map{
	border: solid;
	display: flex;
	flex-direction: column;
	width: 30rem;
	height: 30rem;
	margin-bottom: 25px;
}

img#admin_library_picture{
	width: 100%;
	height: 50%;
}

#map{ 
	height: 50%; 
	width: 100%;
	margin-top: 15px;
}

div#supervisor_library_info{
	width: 70%;
	height: 100%;
	padding-left: 15px;
}

div#supervisor_library_info p{
	margin: 0;
}


select#admin_library_administrators{
	width: 100%;
	height: 1.5rem;
}



div#supervisor_library_layout_picture_container{
	height: 30rem;
	width: 100%;
	margin-top: 15px;
}

.admin_library_overview_activation_button{
	border: none;
	color: white;
	cursor: pointer;
	border-radius: 8px;
	margin-top: 15px;

	
	height: 3rem;
	width: 8rem;
}

.admin_library_overview_activation_button:hover, active{
	opacity: 0.5;
}

button#admin_deactivate_library_btn{
	background-color: red;
}
button#admin_activate_library_btn{
	background-color: blue;
}



@media screen and (max-width: 860px){
	div#admin_image_and_info{
		flex-direction: column;
		height: 15rem;
	}
	
	img#admin_library_picture{
		width: 100%;
		height: 15rem;
	}
	
	select#admin_library_administrators{
		width: 100%;
		height: 15%;
	}
	div#supervisor_library_info{
		width: 100%;
		padding: 0;
	}
}